<style>
    .ImagenesSubir {
        transition: all .5s ease-in-out;
        filter: opacity(.4);
        cursor: pointer;
    }

        .ImagenesSubir:hover {
            transition: all .5s ease-in-out;
            filter: opacity(1);
        }
</style>
<form class="" action="" method="post" name="formulario_add_facturas" id="formulario_add_facturas">
    <div class="" style="text-align: center;" id="icono_carga">
        <br />
        <span style="margin: 50px;">Click en la Imagen para subir archivo PDF.</span>
        <br />
        <br />
        <div class="" align="center">
            <img src="~/img/upload_file_icon.jpg" style="width: 100px; height: 80px; margin:0 auto;" class="ImagenesSubir" /><br />
            <input class="" type="file" id="ArchivoFactura" name="ArchivoFactura" value="" style="visibility: hidden;" />
        </div>
    </div>
    <div id="icono_cargando" style="text-align: center;">
        <br />
        <br />
        <br />
        <br />
        <img src="~/img/cargando.gif" style="width: 100px; height: 100px;" />
    </div>
    <div id="ResultadoDeCarga"></div>
</form>
<script>

    $("#icono_carga").show();
    $("#icono_cargando").hide();

    $(".ImagenesSubir").click(function () {
        $("#icono_carga").hide();
        $("#ArchivoFactura").click();
    });

    $("#ArchivoFactura").change(function () {

        $("#icono_cargando").show();

        var data = new FormData();

        var archivo = $(this).get(0).files;

        if (archivo.length > 0) { data.append("archivo", archivo[0]); }

        var subir2 = $.ajax({
            type: "POST",
            url: "@Url.Action("_ResultadoCargarArchivos", "Facturacion")",
            contentType: false,
            processData: false,
            data: data,
            async: true
        });

        subir2.done(function (xhr, textStatus) {
            $("#icono_cargando").hide();
            $("#ResultadoDeCarga").html(xhr);
        });

    });

</script>
