@{
    ViewBag.Title = "Contabilidad";
}

<script type="text/javascript">
    //$(document).ready(function () { $("#tabProductos").DataTable();  });

    //function formatNumber(num) {
    //    return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '1.')
    //}

</script>

<nav>
    <div class="nav nav-tabs" role="tablist">
        <a class="nav-item nav-link active" id="nav-Facturacion-tab" data-toggle="tab" href="#nav-Facturacion" role="tab" aria-controls="nav-Facturacion" aria-selected="false">
            Facturación Clientes
        </a>
        <a class="nav-item nav-link " id="nav-Pagos-tab" data-toggle="tab" href="#nav-Pagos" role="tab" aria-controls="nav-Pagos" aria-selected="true">
            Pago Proveedores
        </a>
        @*<a class="nav-item nav-link " id="nav-Gestion-tab" data-toggle="tab" href="#nav-Gestion" role="tab" aria-controls="nav-Gestion" aria-selected="false">
                Gestión
            </a>*@


    </div>
</nav>

<div class="tab-content" id="nav-tabContentCE">

    <!-- Facturación Cliente -->
    <div class="tab-pane fade show active" id="nav-Facturacion" role="tabpanel" aria-labelledby="nav-Facturacion-tab"></div>

    <!-- Pago Proveedores -->
    <div class="tab-pane fade " id="nav-Pagos" role="tabpanel" aria-labelledby="nav-Pagos-tab"></div>

    <!-- Gestión -->
    <div class="tab-pane fade " id="nav-Gestion" role="tabpanel" aria-labelledby="nav-Gestion-tab"></div>

</div>

<!-- Modal cargando-->
<div class="modal" id="mdlCargando" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="buttonload text-primary" style="margin: 0 auto;">
                <i class="fa fa-spinner fa-spin "></i>Cargando...
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Index", "Facturacion")",
            //data: param,
            async: true,
            success: function (Resp) {
                $("#nav-Facturacion").html(Resp);
            },
            beforeSend: function () {
                $("#nav-Facturacion").html('<center><img src="../img/loading.gif" /></center>');
            }

        });

        $("#nav-Facturacion-tab").click(function () {
            if ($("#nav-Facturacion").html() != "") {
                return
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("Index", "Facturacion")",
                async: true,
                success: function (Resp) {
                    $("#nav-Facturacion").html(Resp);
                },
                beforeSend: function () {
                    $("#nav-Facturacion").html('<center><img src="../img/loading.gif" /></center>');
                }
            });
        });

        $("#nav-Pagos-tab").click(function () {
            if ($("#nav-Pagos").html() != "") {
                return
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("Index", "Pagos")",
                async: true,
                success: function (Resp) {
                    $("#nav-Pagos").html(Resp);
                },
                beforeSend: function () {
                    $("#nav-Pagos").html('<center><img src="../img/loading.gif" /></center>');
                }
            });
        });

        $("#nav-Gestion-tab").click(function () {
            var param3 = { "id_categoria": 0 };
            $.ajax({
                type: "POST",
                url: "@Url.Action("Index", "Gestion")",
                async: true,
                data: param3,
                success: function (Resp) {
                    $("#nav-Gestions").html(Resp);
                },
                beforeSend: function () {
                    $("#nav-Gestions").html('<center><img src="../img/loading.gif" /></center>');
                }
            });
        });

    });
</script>
