@model IEnumerable<Contabilidad.Clases.listascombobox>
@using System.Configuration;
@{ int idUsuario = 10088;

    string test = ConfigurationManager.AppSettings.Get("test");
    if (test != "True" && (Request.Cookies["cookiePerfil"] == null || Request.Cookies["cookiePerfil"]["usuario"] == null))
    {
        idUsuario = 0;
    };


    if (test != "True")
    {
        idUsuario = int.Parse(Request.Cookies["cookiePerfil"]["usuario"].ToString());
    }
}
@foreach (var item in Model)
{
    <option value="@item.id" @(idUsuario == 60329 && item.id == 2 ? "selected": (idUsuario == 60320 && item.id == 1 ? "selected" : ""))>@item.descripcion</option>
}